*{
  margin: 0;
  padding: 0;
}

.App{
  display: grid;
  margin: 0;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
