.Display{
    width: 80%;
    height: 2.5rem;
    border: none;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 15rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.2);
    text-align: right;
    padding: 0 5%;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input:focus{
    outline: none;
}